<div class="sidebar">
  <div class="text-center mb-2">
    <h4 class="text-white">Super Admin Portal</h4>
    <p id="super-admin-name" class="small text-white-50">Welcome...</p>
  </div>
  <hr class="text-white-50">

  <a href="../dashboard.html"><i class="bi bi-speedometer2 me-2"></i> Main Dashboard</a>
  <a href="../manage-all-branches.html"><i class="bi bi-diagram-3-fill me-2"></i> Manage Branches</a>
  <hr class="text-white-50">
  <a href="../all-patients.html"><i class="bi bi-person-fill me-2"></i> All Patients</a>
  <a href="../all-doctors.html"><i class="bi bi-heart-pulse-fill me-2"></i> All Doctors</a>
  <a href="../all-appointments.html"><i class="bi bi-calendar-check-fill me-2"></i> All Appointments</a>
  <hr class="text-white-50">
  <a href="../all-branch-admins.html"><i class="bi bi-person-video3 me-2"></i> Branch Admins</a>
  <a href="../all-receptionists.html"><i class="bi bi-person-workspace me-2"></i> All Receptionists</a>
  <a href="../manage-super-admins.html"><i class="bi bi-person-badge-fill me-2"></i> Super Admins</a>
  <hr class="text-white">

  <a href="#" id="logout-button"><i class="bi bi-box-arrow-right me-2"></i> Logout</a>
</div>